#menu {
    width: 90%;
    height: 100px;
    display: flex;
    justify-content: end;
    align-items: center;
    position: absolute;
}

#menu * {
    font-size: 15px;
    padding: 10px 10px 10px 10px;
}

#menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

#menu li {
    list-style: none;
}

#menu button {
    background-color: transparent;
    border: 1px solid var(--color-main);
    color: var(--color-main);
    border-radius: 4px;
}

#menu button:hover {
    background-color: #00a2ff49;
}

#presentacion {
    /* background-color: rgba(255, 255, 255, 0.5); */
    width: 55%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

#presentacion h1 {
    font-size: 80px;
    font-family: "Gilroy-Bold";
    color: white;
}

#presentacion h2 {
    color: var(--color-secundario);
    font-size: 60px;
    font-family: "Gilroy-Bold";
    margin-bottom: 50px;
}

.pDescripcion {
   width: 500px;
}

.pDescripcion {
    color: rgba(255, 255, 255, 0.555);
}

#sobreMi {
    width: 70%;
    display: flex;
    justify-content: center;
    margin-bottom: 200px;
}

#sobreMi > div {
    width: 75%;
}

#sobreMi > div h2 {
    width: 100%;
}

#sobreMi > div > div {
    width: 100%;
    display: flex;
}

.sDescripcion {
    width: 70%;
}

.sDescripcion p {
    margin-bottom: 20px;
}

.sDescripcion ul {
    display: grid;
    grid-template-columns: repeat(2, minmax(140px, 200px));
    gap: 0px 10px;
    padding: 0px;
    margin: 20px 0px 0px;
    overflow: hidden;
    list-style: none;
}

.sDescripcion li {
    margin-bottom: 10px;
}

.sDescripcion li::before {
    content: "▹";
    color: var(--color-main);
    display: inline-block;
    width: 20px;
}

.sFoto {
    width: 30%;
    display: flex;
    justify-content: center;
}

.sFoto div {
    width: 250px;
    height: 250px;
    border: 2px solid var(--color-main);
    transform: translateY(15px) translateX(15px);

    position: absolute;
}

.sFoto img {
    width: 250px;
    height: 250px;
    position: relative;
}

#conocimientos {
    width: 70%;
    display: flex;
    justify-content: center;
    margin-bottom: 200px;
}

#conocimientos > div {
    width: 60%;
}

#conocimientos > div h2 {
    width: 100%;
}

#conocimientos > div > div {
    width: 100%;
}

.cDescripcion > ul {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid var(--color-secundario);
    margin-bottom: 20px;
}

.cDescripcion > ul > li {
    list-style-type: none;
    height: 27px;
}

.cDescripcion > ul > li > button {
    width: 100%;
    height: 100%;
    padding: 0 10px 0 10px;
    display: block;
    background-color: transparent;
    border-color: transparent;
    box-sizing: content-box;
}

.cDescripcion > ul > li > button:hover {
    color: var(--color-main);
    border-bottom: 1px solid var(--color-main);
}

#cContenido {
    width: 100%;
}

#cContenido p {
    margin-bottom: 20px;
}

#cContenido ul {
    padding: 0px;
    margin: 20px 0px 0px;
    list-style: none;
}

#cContenido li {
    margin-bottom: 10px;
}

#cContenido li::before {
    content: "▹";
    color: var(--color-main);
    display: inline-block;
    width: 20px;
}

#email {
    width: 70%;
    display: flex;
    justify-content: center;
    margin-bottom: 200px;
}

#email > div {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#email > div h2 {
    width: 100%;
}

#email > div > div {
    width: 100%;
}

#email > div > p {
    text-align: center;
}

#email > div > h2 {
    text-align: center;
    color: var(--color-secundario);
    font-size: 60px;
    font-family: "Gilroy-Bold";
    margin-bottom: 30px;
}

#email button {
    margin-top: 60px;
    background-color: transparent;
    border: 1px solid var(--color-main);
    color: var(--color-main);
    border-radius: 4px;
}

#email a {
    display: block;
    padding: 15px 30px 15px 30px;
}

#email button:hover {
    background-color: #00a2ff49;
}

#footer {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#footer p a {
    font-size: 15px;
}

@media screen and (max-width: 1500px) {
    #sobreMi > div > div {
        flex-direction: column;
    }

    .sFoto {
        margin-top: 40px;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .sDescripcion {
        text-align: center;
        width: 100%;
    }

    .sDescripcion ul {
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 900px) {
    
    #conocimientos {
        width: 100%;
    }

    .pDescripcion {
        width: 300px;
    }
}